apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1-deployment
  labels:
    app: app1
spec:
  # Желаемое количество копий (реплик)
  replicas: {{ .Values.app1.replicaCount }}
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1-container
        image: {{ .Values.app1.image }}
        ports:
        - containerPort: {{ .Values.app1.servicePort }}
