# mysql-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    app: mysql
spec:
  replicas: {{ .Values.mysql.replicaCount }}
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql-container
        image: {{ .Values.mysql.image }}
        ports:
        - containerPort: 3306
        env:
        # Ваш пароль из Docker Compose        
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-root-password # Имя Secret, который вы создали в Шаге 1
              key: mysql-root-password # Имя ключа внутри Secret
        - name: MYSQL_DATABASE
          value: {{ .Values.mysql.db_name | quote }}
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql # Стандартный путь для данных MySQL
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim
