# nginx-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: proxy
spec:
  # Берем количество реплик из values.yaml
  replicas: {{ .Values.nginx.replicaCount }}
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
      - name: nginx-container
        # Берем имя образа из values.yaml
        image: {{ .Values.nginx.image }}
        ports:
        - containerPort: {{ .Values.nginx.servicePort }}
